@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    max-width: 600px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
.generic-quiz input{
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
}
.generic-quiz-button{
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px; 
}
.select-triangle-div{
    /* display: block; */
    max-width: 400px;
}
