@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */


@import url("anglesoftriangle.css");

.input-div{
    /* line */
    max-width: 520px; 
    margin: auto;
    
}

#find-area{
    /* margin: 1rem; */
    padding: 1rem;
    background-color: var(--primary-color);
    color:var(--white);
    border-radius: 4px;
    font-family:'Montserrat', sans-serif;
    border: none;
}