@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */

:root {
    --primary-color: #1877F2;
    --off-white: #F3F4F6;
    --white:#ffffff;
    --gray: #d3d3d3;
}
body{
    max-width: auto;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--off-white)
}
nav{
    text-align: center;   
    font-size: 30px;
    padding: 1rem; 
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);     
   
}
nav span{
    color: var(--primary-color);
}
.div-game{
    max-width: 600px;
    margin: auto;
    padding:1rem;
    /* border: 1px solid red; */
    
}
.div-game-cards{
    max-width: 500px;
    margin: 1rem;
    padding: 1rem;
    border :1px solid var(--gray);
    /* box-shadow: 2px 5px 8px var(--gray); */
    background-color: white;
    border-radius: 5px;
}
.div-game-cards:hover{
    box-shadow: 5px 8px 5px  var(--gray);
    /* border :3px solid var(--gray); */
    transition: 0.5s;
}
.div-game-heading{
    max-width: auto;
    margin: 1rem;
    padding: 1rem;
    color: var(--primary-color);
}
hr{
    border-top: 3px solid var(--gray);
}
.game-link{
    max-width: auto;
    text-align: right;
    margin: 1rem;
    margin-left:200px;
    /* border: 1px solid red; */
    /* padding: 1rem; */
}
.game-link a{
    text-decoration:none ;    
}
.game-link button{
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color:var(--white);
    border-radius: 4px;
    font-family:'Montserrat', sans-serif;
    border: none;
}
.game-link button:hover{
    cursor: pointer;
}
footer{
   
    background-color: white;
    /* height: 20vh; */
    margin-top: 10vh;
    /* border: 1px solid red; */
    color: var(--primary-color);

}
.social{
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.social-list li{
    display: inline;
    margin: 1rem;

}
.social-list a{
    text-decoration: underline;
    color: var(--primary-color);
}


